{% extends 'navigation.html' %}

{% block title %}
    User login
{% endblock %}

{% block content %}
    <h1>User Login</h1>
    <form class="form-with-validation" action="{% url 'users:login'%}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Username:</label>
            <input type="text" id="id_username" name="username" class="form-control" placeholder="Enter your username" required/>
        </div>
        <div class="form-group">
            <label for="id_password">Password:</label>
            <input type="password" id="id_password" name="password" class="form-control" placeholder="Enter your password" required/>
        </div>
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}"/>
        {%endif%}

        {% if messages %}
        <div class="form-messages">
            {% for message in messages %}
                <p class="form-error">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <button class="form-submit">Submit</button>
    </form>
{% endblock %}