<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            DjangoProject
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <script src="{% static 'jsScript/script.js' %}" defer></script>
</head>
<body>

<div class="header">
        <div class="left-controls">
            <span class="open-btn" onclick="openNav()">☰</span>
        </div>
            <div class="auth-buttons">
                {% if user.is_authenticated %}
                <form class="btn" action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button id="btnLogout">logout</button>
                </form>
                {% else %}
                <a href="{% url 'users:login' %}" class="btn">login</a>
                {% endif %}
                <a href="{% url 'users:register' %}" class="btn">sign up</a>
            </div>
</div>

 <div id="sideNav" class="side-nav">
    <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">×</a>
    <a href="/">Home</a>
    <a href="/about">About</a>
    {% if user.is_authenticated %}
    <a href="{% url 'posts:new-post' %}">New Posts</a>
    {% endif %}
    <a href="{% url 'posts:list' %}">Posts</a>
  </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>